SPRING_PROFILES_ACTIVE=local
SERVER_PORT=8080
SESSION_TIMEOUT=30m

DB_URL=jdbc:mysql://localhost:3306/sgia_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=America/Bogota&createDatabaseIfNotExist=true
DB_USERNAME=sgia_user
DB_PASSWORD=sgia_password

MYSQL_DATABASE=sgia_db
MYSQL_USER=sgia_user
MYSQL_PASSWORD=sgia_password
MYSQL_ROOT_PASSWORD=root
